.approved {
    background-color: #1F8A70;
    color: #FFFF;
    text-align: center;
}
.rejected {
    background-color: #EB455F;
    color: #FFFF;
    text-align: center;
}

.pending {
    background-color: #EEEEEE;
    color: #332C39;
    text-align: center;
}