<ng-container *ngIf="!resetToken">
    <div class="jpg">
        <div class="wrapper fadeInDown">
          <div id="formContent">
      
            <!-- Icon -->
            <div class="fadeIn first">
              <i class="fas fa-sign-in-alt"></i>
            </div>
      
            <!-- Reset Form -->
            <form [formGroup]="resetForm" id="myForm" (ngSubmit)="sendPasswordResetRequest()">
              <input type="text" id="username" placeholder="Email" formControlName="email">
              <ng-container *ngIf="resetForm.controls['email'].touched">
                <p class="invalid-info" *ngIf="resetForm.controls['email']?.errors?.['required']">Please type your email!</p>
              </ng-container>
              <ng-container *ngIf="resetForm.controls['email'].touched">
                <p class="invalid-info" *ngIf="resetForm.controls['email']?.errors?.['email']">Please type a valid email!</p>
              </ng-container>
              <input type="submit" value="Send Request" [hidden]="!resetForm.valid">
            </form>
            <ng-container *ngIf="errorMsg">
              <p class="invalid-info">{{errorMsg}}!</p>
            </ng-container>
            <ng-container *ngIf="confirmMsg">
                <p class="confirm-info">{{confirmMsg}}!</p>
              </ng-container>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="login">Already have an account?, Login Now!</a>
              </div>
          </div>
        </div>
      </div>
</ng-container>
<ng-container *ngIf="resetToken">
    <form [formGroup]="changePasswordForm" id="changePasswordForm" (ngSubmit)="changePassword()" class="form-style">
        <div class="form-group">
          <label class="d-block">Change Password</label>
          <input type="password" class="form-control mt-1" placeholder="New password"
            formControlName="newPassword">
          <ng-container *ngIf="changePasswordForm.controls['newPassword'].touched">
            <p class="invalid-info" *ngIf="changePasswordForm.controls['newPassword']?.errors?.['minlength']">
              Password must be at
              least 8 characters!</p>
          </ng-container>
          <input type="password" class="form-control mt-1" placeholder="Confirm new password"
            formControlName="confirmPassword">
          <ng-container *ngIf="changePasswordForm.controls['confirmPassword'].touched">
            <p class="invalid-info" *ngIf="changePasswordForm.controls['confirmPassword']?.errors?.['minlength']">
              Password must be at
              least 8 characters!</p>
          </ng-container>
          <ng-container *ngIf="changePasswordForm.controls['confirmPassword'].touched">
            <p class="invalid-info" *ngIf="changePasswordForm.controls['confirmPassword']?.errors">Password
              mismatch!</p>
          </ng-container>
        </div>
        <input type="submit" value="Confirm" id="submit2" class="btn btn-primary" [disabled]="!changePasswordForm.valid">
        <ng-container *ngIf="errorMsg">
            <p class="invalid-info">{{errorMsg}}!</p>
          </ng-container>
      </form>
      <!-- Register Form Errors -->
</ng-container>

  
