.nav-item {
  cursor: pointer;
}

.card {
  border: none;
}

.invalid-info {
  color: #C21010;
  font-size: 1rem;
  border: none;
  background-color: #FEE0C0;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 5px;
  text-align: center;
}



// label {
//   text-align: center;
// }

// form {
//   font-size: 12px;

// }



form input {
  font-weight: normal;
  color: #111;
 
}
