<!-- Header Start -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 mb-3 animated slideInDown">Contact Us</h1>
        <p class="text-primary fs-5 mb-0">If You Have Any Query, Please Contact Us</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Contact Start -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 my-5 animated slideInDown">
        <div class="card">
          <div class="card-body text-center">
            <i class="icons_contact fa fa-phone fa-5x mb-4" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">call us</h4>
            <a href="tel:+20123456789">+20123456789</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5 animated slideInDown">
        <div class="card">
          <div class="card-body text-center">
            <i class="icons_contact fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">office location</h4>
            <a href="https://goo.gl/maps/jGGnfwpmXsM9WSxr6" target="_blank"> Alexandia, Egypt </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5 animated slideInDown">
        <div class="card">
          <div class="card-body text-center">
            <i class="icons_contact fab fa-whatsapp fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">Whatsapp</h4>
            <a href='https://wa.me/+20123456789' target='_blank'>+20123456789</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 my-5 animated slideInDown">
        <div class="card">
          <div class="card-body text-center">
            <i class="icons_contact fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">email</h4>
            <a href="mailto:info@moneywall.com" target="_blank">info@moneywall.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact End -->