<!-- Service Start -->
<div class="container-xxl bg-light py-5 my-5">
  <div class="container py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 class="display-6">Services</h1>
      <p class="text-primary fs-5 mb-5">Find more ways to manage your money</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item bg-white p-5">
          <div class="icons">
            <i class="fa fa-wallet"></i>
          </div>
          <h5 class="mb-3">Add cash to MoneyWall</h5>
          <p>Digitize your cash. Spend it how you like.</p>
          <a routerLink="/balance" routerLinkActive="active">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item bg-white p-5">
          <div class="icons">
            <i class="fa fa-money-bill"></i>
          </div>
          <h5 class="mb-3">Transaction</h5>
          <p>Shop online, in person, or send money to friends and family around the globe.</p>
          <a routerLink="/transactions">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item bg-white p-5">
          <div class="icons">
            <i class="fa fa-laptop"></i>
          </div>
          <h5 class="mb-3">Pay bills online</h5>
          <p>No more paying in person, use your MoneyWall Balance to pay your Bills</p>
          <a routerLink="/myBills">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item bg-white p-5">
          <div class="icons">
            <i class="fa fa-credit-card"></i>
          </div>
          <h5 class="mb-3">Link your cards</h5>
          <p>Add payment options to your digital wallet</p>
          <a routerLink="/payment">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item bg-white p-5">
          <div class="icons">
            <i class="fa fa-lock"></i>
          </div>
          <h5 class="mb-3">Keep a Records of all Assets</h5>
          <p>Receive money from friends and family directly through your personal profile.</p>
          <a routerLink="/assets">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item bg-white p-5">
          <div class="icons">
            <i class="fa fa-money-bill"></i>
          </div>
          <h5 class="mb-3">Pay & Get paid Securely</h5>
          <p>A safe and trustworthy transaction experience helps keep each payment secure.</p>
          <a routerLink="/sendMoney">Read More <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->